.container {
  width: 700px;
  margin: 60px auto;
}

.tab_header {
  text-align: center;
}

.tab_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

.tab_button {
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}
.active {
  background-color: green;
  color: white;
}
